<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) assets/styles/vendor.css -->
    <!-- bower:css -->
    <!--<link rel="stylesheet" href="apidoc/bootstrap/dist/css/bootstrap.css"/>-->
    <!--<link rel="stylesheet" href="apidoc/font-awesome/css/font-awesome.css"/>-->
    <!--<link rel="stylesheet" href="apidoc/footer.css"/>-->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) assets/styles/app.css -->
    <!--<link rel="stylesheet" href="apidoc/app.css">-->
    <link rel="stylesheet" href="apidoc/uploader/uploader.css">
    <!-- injector:css -->


    <!-- endinjector -->
    <!-- endbuild -->
</head>
<!--<body ng-app="baidufile-ui">-->
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your
    experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<div ui-view=""></div>


<!--[if lt IE 9]>
<!--<script src="apidoc/json3/lib/json3.min.js"></script>-->
<![endif]-->
<!-- build:js(.) app/vendor.js -->
<!-- bower:js -->
<!--<script src="apidoc/angular/angular.js"></script>-->
<!--<script src="apidoc/index.js"></script>-->
<!--<script src="apidoc/jquery/dist/jquery.js"></script>-->
<!--<script src="apidoc/json3/lib/json3.js"></script>-->
<!--<script src="apidoc/bootstrap/dist/js/bootstrap.js"></script>-->
<!--<script src="apidoc/angular-resource/angular-resource.js"></script>-->
<!--<script src="apidoc/angular-cookies/angular-cookies.js"></script>-->
<!--<script src="apidoc/angular-sanitize/angular-sanitize.js"></script>-->
<!--<script src="apidoc/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
<!--<script src="apidoc/lodash/dist/lodash.compat.js"></script>-->
<!--<script src="apidoc/angular-ui-router/release/angular-ui-router.js"></script>-->
<!--<script src="apidoc/angular-validation-match/dist/angular-validation-match.min.js"></script>-->
<!--<script src="apidoc/ng-file-upload/ng-file-upload.js"></script>-->
<!--<script src="apidoc/ZeroClipboard.js"></script>-->


<body>
<div ng-app="myApp">
    <link rel="import" href="navbar.html">
    <div class="navbar navbar-default navbar-static-top" ng-controller="FileCenterCtrl">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img alt="baiduwaimai-logo" src="apidoc/logo.png" width="120px" height="40px" style="margin-top: -10px">
                </a>
            </div>
            <div collapse="isCollapsed" class="navbar-collapse uib-collapse" id="navbar-main">

                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="user">
                        <input type="button" class="btn btn-link" value="{{user.name}}" ng-click="userinfo()">
                    </li>
                    <li ng-if="user">
                        <input type="button" class="btn btn-link" value="[退出]" ng-click="logout()">

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="FileCenterCtrl">

        <uib-tabset>
            <uib-tab heading="文件上传">
                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <uploader text="上传文件"
                                  callback="append(o,fileName,data)">
                        </uploader>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div ng-if="result" style="margin-top: 50px;">
                    <div class="text-center">
                        <span style="font-size: 26px;font-weight: bold;color: #199712;margin-bottom:10px; " id="t">{{result}}</span>
                        <span style="font-size: 26px;font-weight: bold;color: #199712;margin-bottom:10px; ">{{success.msg}}</span>
                    </div>
                    <div class="text-center" style="margin-top: 50px;">
                        <a ng-href="{{result}}"  class="btn btn-default" target="_blank">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            测试上面的链接
                        </a>
                        <a href="#"  ng-click="copy()" class="btn btn-success" id="d_clip_button">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                            复制上面的链接
                        </a>

                        <div style="margin-top: 40px;">说明:为保险其间，点按钮复制链接时请多点几次确保成功！</div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="文件列表">
                <div style="padding: 40px 0px;">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" >
                        <form role="form" ng-submit="submit()">
                            <div class="input-group">
                                <input class="form-control" placeholder="文件名" ng-model="search.keyword"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="submit()">
                                            <i class="glyphicon glyphicon-search"></i>
                                            搜索
                                        </button>
                                    </span>
                            </div>
                        </form>
                    </div>
                </div>
                找到相关文件: <span style="color: red">{{files.length}}</span> 个
                <div class="table-responsive" style="margin-top: 20px;">
                    <table class="table table-bordered table-striped table-hover">
                        <caption></caption>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>文件名称</th>
                            <th>格式</th>
                            <!--<th>标签</th>-->
                            <th>上传时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="f in files">
                            <td>{{$index+1}}</td>
                            <td><a href="http://120.76.132.123:8080/play.html?id={{f.id}}" target="_blank">{{f.name}}</a></td>
                            <td>{{f.type}}</td>
                            <!--<td>{{f.tag}}</td>-->
                            <td>{{f.uploadTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <input type="button"
                                       class="btn btn-danger btn-xs"
                                       value="删除"
                                       ng-click="remove(f)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
</body>
</html>
<div class="footer-head"></div>


